*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.vscode
npm-debug.log
node_modules
app/app-release.apk
app/my-release-key.jks
app/src/main/assets
